<div class="card">
  <h1>Add Item</h1>
    <%= form_for @product do |f| %>
      <%= f.text_field :name, placeholder: "name", :required => true %>
      <%= f.text_field :country_origin, placeholder: "country of origin", :required => true %>
      <%= f.text_field :price, placeholder: "price", :required => true %>
      <%= f.submit%>
    <% end %>
</div>
