<h1>Add Item</h1>

<div class="card">
  <%= form_for @product do |f| %>
    <%= f.text_field :name, placeholder: "name" %>
    <%= f.text_field :country_origin, placeholder: "country of origin" %>
    <%= f.text_field :price, placeholder: "price" %>
    <%= f.submit%>
  <% end %>
</div>
