<div class="card-body">
  <h1><%= @product.name %></h1>
  <h2>Country Origin: <%=@product.country_origin %></h2>
  <h2>Price: $<%=@product.price %></h2>
  <% if @product.reviews.any? %>
    <h4>Here are the reviews for this product:</h4>
      <ul>
        <% @product.reviews.each do |review| %>
          <li>
            <br>
            <i>"<%= review.comment %>"</i> <br>
            <%= review.rating %> out of 5 <br>
            <strong>-<%= review.author %></strong><br>

          </li>
        <% end %>
      </ul>
      <% else %>
        <p>There are no reviews yet!</p>
      <% end %>

  <p><%= link_to "Leave a review", new_product_review_path(@product) %></p>

  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete", product_path(@product),
                           :data => {:confirm => "Are you sure?",
                                     :method => "delete"} %></p>

  <p><%= link_to "Home", products_path %></p>
</div>
