<%= render('layouts/errors', :object => @task) %>

<%= form_for [@product, @review] do |f| %>
  <%= f.text_field :comment, placeholder: "review", :required => true %>
  <%= f.text_field :rating, placeholder: "1-5", :required => true %>
  <%= f.text_field :author, placeholder: "name", :required => true %>
  <p><%= f.submit %></p>
<% end %>
